<sio-banner message="Sorry! We aren't 100% ready yet. We are under construction."
            type="alarm"></sio-banner>
<div class="mike-albums">
  <div class="mike-albums__header">
    <h1>Mike's Favourite Albums</h1>
  </div>
  <div class="mike-albums__control">
    <button (click)="openDialog()" sioDefaultButton>Show Album Table</button>
  </div>
  <div>
    <app-genre-charts [albums]="albums$ | async"></app-genre-charts>
  </div>
  <div>
    <app-favourite-artist [albums]="albums$ | async"></app-favourite-artist>
  </div>
  <div>
    <app-list-artists [albums]="albums$ | async"></app-list-artists>
  </div>
  <div class="mike-albums__control">
    <button (click)="addRandomAlbum()" sioDefaultButton>Add Another Album</button>
  </div>
</div>
<!-- put table here -->
<dialog #albumsDialog>
  <app-list-albums [albums]="albums$ | async" (closeModal)="closeDialog()"></app-list-albums>
</dialog>
